* {
	font-family: "JetBrains Mono", monospace !important;
	color: green;
	&::selection {
		background-color: green;
		color: black;
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #000;
}

img,
picture,
video {
	max-width: 100%;
	display: block;
}

input,
button,
textarea,
select {
	font: inherit;
}
